.postUser0{
    background-color: white;
}
.postUser1{
    background-color: rgb(255, 0, 0, 0.6);
}
.postUser2{
    background-color: rgb(0, 0, 255, 0.6);
}
.postUser3{
    background-color: rgb(0, 128, 0, 0.6);
}
.postUser4{
    background-color: rgb(255, 165, 0, 0.6);
}
.postUser5{
    background-color: rgb(128, 0, 128, 0.6);
}
.postUser6{
    background-color: rgb(255, 255, 0, 0.6);
}
.postUser7{
    background-color: rgb(255, 192, 203, 0.6);
}
.postUser8{
    background-color: rgb(0, 0, 0, 0.4);
}
.postUser9{
    background-color: rgb(148, 245, 38, 0.6);
}
.postUser10{
    background-color: rgb(255, 222, 173, 0.6);
}